/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

.side-bar-header{
  padding-bottom:120px;
}

.side-nav li.active {
border-left: 4px solid cyan;
color:  cyan;
}


.custon-checkbox {
position: inherit !important;
opacity: 1 !important;
}

.custon-left-border {
  border-left: 6px solid cyan;
  color:  cyan;
}

.custon-collection-item-height{
  height: 65px;
  border-bottom: 1px solid #e0e0e0 !important;
  border-top: 0px solid #e0e0e0 !important;
  border-left: 0px solid #e0e0e0 !important;
  border-right: 0px solid #e0e0e0 !important;
}

.custon-ul-border{
  border-bottom: 0px solid #e0e0e0 !important;
  border-top: 1px solid #e0e0e0 !important;
  border-left: 0px solid #e0e0e0 !important;
  border-right: 0px solid #e0e0e0 !important;
}

